data/LICENSE.txt
data/imagesTr/liver_0.nii
data/imagesTr/liver_1.nii
data/imagesTr/liver_2.nii
data/imagesTr/liver_3.nii
data/imagesTr/liver_4.nii
data/imagesTr/liver_5.nii
data/imagesTr/liver_6.nii
data/imagesTr/liver_7.nii
data/imagesTr/liver_8.nii
data/imagesTr/liver_9.nii
data/imagesTr/liver_10.nii
data/imagesTr/liver_11.nii
data/imagesTr/liver_12.nii
data/imagesTr/liver_13.nii
data/imagesTr/liver_14.nii
data/imagesTr/liver_15.nii
data/imagesTr/liver_16.nii
data/imagesTr/liver_17.nii
data/imagesTr/liver_18.nii
data/imagesTr/liver_19.nii
data/imagesTr/liver_20.nii
data/imagesTr/liver_21.nii
data/imagesTr/liver_22.nii
data/imagesTr/liver_23.nii
data/imagesTr/liver_24.nii
data/imagesTr/liver_25.nii
data/imagesTr/liver_26.nii
data/imagesTr/liver_27.nii
data/imagesTr/liver_28.nii
data/imagesTr/liver_29.nii
data/imagesTr/liver_30.nii
data/imagesTr/liver_31.nii
data/imagesTr/liver_32.nii
data/imagesTr/liver_33.nii
data/imagesTr/liver_34.nii
data/imagesTr/liver_35.nii
data/imagesTr/liver_36.nii
data/imagesTr/liver_37.nii
data/imagesTr/liver_38.nii
data/imagesTr/liver_39.nii
data/imagesTr/liver_40.nii
data/imagesTr/liver_41.nii
data/imagesTr/liver_42.nii
data/imagesTr/liver_43.nii
data/imagesTr/liver_44.nii
data/imagesTr/liver_45.nii
data/imagesTr/liver_46.nii
data/imagesTr/liver_47.nii
data/imagesTr/liver_48.nii
data/imagesTr/liver_49.nii
data/imagesTr/liver_50.nii
data/imagesTr/liver_51.nii
data/imagesTr/liver_52.nii
data/imagesTr/liver_53.nii
data/imagesTr/liver_54.nii
data/imagesTr/liver_55.nii
data/imagesTr/liver_56.nii
data/imagesTr/liver_57.nii
data/imagesTr/liver_58.nii
data/imagesTr/liver_59.nii
data/imagesTr/liver_60.nii
data/imagesTr/liver_61.nii
data/imagesTr/liver_62.nii
data/imagesTr/liver_63.nii
data/imagesTr/liver_64.nii
data/imagesTr/liver_65.nii
data/imagesTr/liver_66.nii
data/imagesTr/liver_67.nii
data/imagesTr/liver_68.nii
data/imagesTr/liver_69.nii
data/imagesTr/liver_70.nii
data/imagesTr/liver_71.nii
data/imagesTr/liver_72.nii
data/imagesTr/liver_73.nii
data/imagesTr/liver_74.nii
data/imagesTr/liver_75.nii
data/imagesTr/liver_76.nii
data/imagesTr/liver_77.nii
data/imagesTr/liver_78.nii
data/imagesTr/liver_79.nii
data/imagesTr/liver_80.nii
data/imagesTr/liver_81.nii
data/imagesTr/liver_82.nii
data/imagesTr/liver_83.nii
data/imagesTr/liver_84.nii
data/imagesTr/liver_87.nii
data/imagesTr/liver_88.nii
data/imagesTr/liver_89.nii
data/imagesTr/liver_90.nii
data/imagesTr/liver_91.nii
data/imagesTr/liver_92.nii
data/imagesTr/liver_93.nii
data/imagesTr/liver_94.nii
data/imagesTr/liver_95.nii
data/imagesTr/liver_98.nii
data/imagesTr/liver_99.nii
data/imagesTr/liver_101.nii
data/imagesTr/liver_102.nii
data/imagesTr/liver_104.nii
data/imagesTr/liver_105.nii
data/imagesTr/liver_106.nii
data/imagesTr/liver_107.nii
data/imagesTr/liver_108.nii
data/imagesTr/liver_109.nii
data/imagesTr/liver_110.nii
data/imagesTr/liver_111.nii
data/imagesTr/liver_112.nii
data/imagesTr/liver_113.nii
data/imagesTr/liver_114.nii
data/imagesTr/liver_115.nii
data/imagesTr/liver_116.nii
data/imagesTr/liver_117.nii
data/imagesTr/liver_118.nii
data/imagesTr/liver_119.nii
data/imagesTr/liver_120.nii
data/imagesTr/liver_121.nii
data/imagesTr/liver_122.nii
data/imagesTr/liver_123.nii
data/imagesTr/liver_125.nii
data/imagesTr/liver_126.nii
data/imagesTr/liver_127.nii
data/imagesTr/liver_128.nii
data/imagesTr/liver_129.nii
data/labelsTr/liver_0.nii
data/labelsTr/liver_1.nii
data/labelsTr/liver_2.nii
data/labelsTr/liver_3.nii
data/labelsTr/liver_4.nii
data/labelsTr/liver_5.nii
data/labelsTr/liver_6.nii
data/labelsTr/liver_7.nii
data/labelsTr/liver_8.nii
data/labelsTr/liver_9.nii
data/labelsTr/liver_10.nii
data/labelsTr/liver_11.nii
data/labelsTr/liver_12.nii
data/labelsTr/liver_13.nii
data/labelsTr/liver_14.nii
data/labelsTr/liver_15.nii
data/labelsTr/liver_16.nii
data/labelsTr/liver_17.nii
data/labelsTr/liver_18.nii
data/labelsTr/liver_19.nii
data/labelsTr/liver_20.nii
data/labelsTr/liver_21.nii
data/labelsTr/liver_22.nii
data/labelsTr/liver_23.nii
data/labelsTr/liver_24.nii
data/labelsTr/liver_25.nii
data/labelsTr/liver_26.nii
data/labelsTr/liver_27.nii
data/labelsTr/liver_28.nii
data/labelsTr/liver_29.nii
data/labelsTr/liver_30.nii
data/labelsTr/liver_31.nii
data/labelsTr/liver_32.nii
data/labelsTr/liver_33.nii
data/labelsTr/liver_34.nii
data/labelsTr/liver_35.nii
data/labelsTr/liver_36.nii
data/labelsTr/liver_37.nii
data/labelsTr/liver_38.nii
data/labelsTr/liver_39.nii
data/labelsTr/liver_40.nii
data/labelsTr/liver_41.nii
data/labelsTr/liver_42.nii
data/labelsTr/liver_43.nii
data/labelsTr/liver_44.nii
data/labelsTr/liver_45.nii
data/labelsTr/liver_46.nii
data/labelsTr/liver_47.nii
data/labelsTr/liver_48.nii
data/labelsTr/liver_49.nii
data/labelsTr/liver_50.nii
data/labelsTr/liver_51.nii
data/labelsTr/liver_52.nii
data/labelsTr/liver_53.nii
data/labelsTr/liver_54.nii
data/labelsTr/liver_55.nii
data/labelsTr/liver_56.nii
data/labelsTr/liver_57.nii
data/labelsTr/liver_58.nii
data/labelsTr/liver_59.nii
data/labelsTr/liver_60.nii
data/labelsTr/liver_61.nii
data/labelsTr/liver_62.nii
data/labelsTr/liver_63.nii
data/labelsTr/liver_64.nii
data/labelsTr/liver_65.nii
data/labelsTr/liver_66.nii
data/labelsTr/liver_67.nii
data/labelsTr/liver_68.nii
data/labelsTr/liver_69.nii
data/labelsTr/liver_70.nii
data/labelsTr/liver_71.nii
data/labelsTr/liver_72.nii
data/labelsTr/liver_73.nii
data/labelsTr/liver_74.nii
data/labelsTr/liver_75.nii
data/labelsTr/liver_76.nii
data/labelsTr/liver_77.nii
data/labelsTr/liver_78.nii
data/labelsTr/liver_79.nii
data/labelsTr/liver_80.nii
data/labelsTr/liver_81.nii
data/labelsTr/liver_82.nii
data/labelsTr/liver_83.nii
data/labelsTr/liver_84.nii
data/labelsTr/liver_87.nii
data/labelsTr/liver_88.nii
data/labelsTr/liver_89.nii
data/labelsTr/liver_90.nii
data/labelsTr/liver_91.nii
data/labelsTr/liver_92.nii
data/labelsTr/liver_93.nii
data/labelsTr/liver_94.nii
data/labelsTr/liver_95.nii
data/labelsTr/liver_98.nii
data/labelsTr/liver_99.nii
data/labelsTr/liver_101.nii
data/labelsTr/liver_102.nii
data/labelsTr/liver_104.nii
data/labelsTr/liver_105.nii
data/labelsTr/liver_106.nii
data/labelsTr/liver_107.nii
data/labelsTr/liver_108.nii
data/labelsTr/liver_109.nii
data/labelsTr/liver_110.nii
data/labelsTr/liver_111.nii
data/labelsTr/liver_112.nii
data/labelsTr/liver_113.nii
data/labelsTr/liver_114.nii
data/labelsTr/liver_115.nii
data/labelsTr/liver_116.nii
data/labelsTr/liver_117.nii
data/labelsTr/liver_118.nii
data/labelsTr/liver_119.nii
data/labelsTr/liver_120.nii
data/labelsTr/liver_121.nii
data/labelsTr/liver_122.nii
data/labelsTr/liver_123.nii
data/labelsTr/liver_125.nii
data/labelsTr/liver_126.nii
data/labelsTr/liver_127.nii
data/labelsTr/liver_128.nii
data/labelsTr/liver_129.nii
